:root {
    --primary-color: white;
    --secondary-color: #07a007;
    --blend-mode: #0000009d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(16, 63, 16);
    height: 6em;
    border-bottom: white 5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90%;
}

.menu-icon {
    color: white;
    font-size: 2.8em;
    cursor: pointer;
    margin-top: .4em;
    transform: translateY(-10px);
}

.emoji {
    font-size: 3em;
}

body {
    background-image: url(./assets/steven-weeks-DUPFowqI6oI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: var(--blend-mode);
    background-blend-mode: darken;
}

.block {
    display: block;
    text-align: center;
    margin-top: 10em;
}

/* Farm Header */
.smart-farm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
    font-size: 3em;
    margin-bottom: 1em;
}

.text-large.text-mobile {
    color: var(--primary-color);
}

.text-large {
    font-size: 1.5em;
    width: 70%;
    margin: 0 auto 0 auto;
}

.btn {
    border-radius: 30px;
    padding: 1.5em 2em;
    font-family: inherit;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    font-size: 1.1rem;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;

}

.login-dashboard-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;

}

.login-dashboard-btn:hover {
    background-color: var(--primary-color);
    color: var(--blend-mode);
    transition: 0.2s ease-in-out;
}

.create-act-btn {
    color: var(--primary-color);
    background: none;
    border: 2px var(--primary-color) solid;
}

@media (max-width: 555px) {
    header {
        gap: 26em;
        justify-content: space-around;
        position: fixed;
        left: 0;
        right: 0;
    }

    #smart-farm {
        font-size: 2em;
margin-bottom:  0;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        margin-top: 14em;
        gap: 2em;
        position: fixed;
    }

    .text-mobile {
        color: var(--primary-color);
        width: 89.5%;
        margin: 0 auto 0 auto;
        line-height: 1.5em;
        font-size: 1em;
    }

}